@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202124;
  --font-primary: #e8eaed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--background);
}

h1,
h2,
h3,
h4,
p,
input {
  color: var(--font-primary);
}
